<%- include('partials/header') %>

<h3 class="center"><%= title %>: Help me help you help you feed you...</h3>
<div class="center-align">
<% if (user) { %>
    <p>Hmm <%= user.name %>, what are you up to?</p>
        <% } else { %></p>
    <button class="waves-effect waves-light btn brown darken-3 teal-text text-lighten-4"><a href="/auth/google"><i class="material-icons left">vpn_key</i>Login with Google</a></button>
<% } %></li>
<img id="main-page-img" src="/images/biggerlogocropped.png" alt="chub">
<!-- <button><a href="/recipes">Recipes</a></button>
</div>
<div class="center-align">
<button><a href="/ingredients">Grocery List</a></button> -->
</div>

<%- include('partials/footer') %>
