<%- include('partials/header') %>

<h3 class="center"><%= title %>: Help me help you help you feed you...</h3>
<div class="center-align">
<button><a href="/recipes">Recipes</a></button>
</div>
<div class="center-align">
<button><a href="/ingredients">Grocery List</a></button>
</div>

<%- include('partials/footer') %>
