<%- include('partials/header') %>
<div>
    <h3 class="center"><%= title %>: Help me help you help you feed you...</h3>
    <div class="center-align">
    <% if (user) { %>
        <p>Hmm <%= user.name %>, what are you up to?</p>
            <% } else { %></p>
                <p>Login to see my private stuff ;)</p>
    <% } %></li>
    <img class="responsive-img"id="main-page-img" src="/images/biggerlogocropped.png" alt="chub">
    </div>
</div>

<%- include('partials/footer') %>
