* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Oleo Script', cursive;
}
#main-page-img {
  width: 35vw;
}
.btn-small,
.btn {
  margin: 5px;
}
table {
  border: 6px solid rgba(124, 0, 0, 0.8);
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}
label {
  color: black;
}
.vertical {
  resize: vertical;
}

.extra {
  margin-right: 2vw;
}

.card {
  font-family: 'Indie Flower', cursive;
  font-size: 1.5rem;
}